body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: block;
    max-width: 400px;
    margin: auto;
}

h1 {
    text-align: center;
}

.case {
    padding: 10px;
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 20px;
}
.display {
    background-color: rgb(166, 185, 132);
    border: 1px solid white;
    border-radius: 20px;
    padding: 16px 16px 16px 16px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 480px;
    
}

#pDisplay {
    text-align: right;
    font-weight: bold;
    align-self:flex-end;
    font-size:x-large;
}
#pHistory {
    text-align: left;
    font-size: small;
    color: rgb(63, 63, 63);
    font-style: italic;
    align-self:flex-start;
}

.outer-button-area {
    padding: 10px 0px 10px 0px;

}

.button-area {
    display: flex;
    border-radius: 20px;
    background-color: gray;
    border: 1px solid rgb(68, 68, 68);
}

button {
    min-height: 50px;
    font-family: 'Courier New', Courier, monospace;    
    border-radius: 20px;
    font-weight: bolder;
    font-size: large;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;

    border-radius: 20px;
}
.number-buttons button {
    flex: 0 0 33%;
}

.operation-buttons {
    display: flex;
    flex-direction: column;
}

.operation-buttons button {
    flex: 1;
    min-width: 50px;
    background-color: rgb(173, 195, 218);
}
